$base00: #161616;
$base01: #262626;
$base02: #393939;
$base03: #525252;
$base04: #dde1e6;
$base05: #f2f4f8;
$base06: #ffffff;
$base07: #08bdba;
$base08: #3ddbd9;
$base09: #78a9ff;
$base0A: #ee5396;
$base0B: #33b1ff;
$base0C: #ff7eb6;
$base0D: #42be65;
$base0E: #be95ff;
$base0F: #82cfff;

* {
  all: unset;
  background-color: transparent;
}

.main {
  background-color: $base00;
  margin: 0px;
  border-radius: 0px;
  padding: 5px 3px
}

.icon {
  margin: 3px;
  border-radius: 6px;
  color: $base05;
  padding: 2px 5px;
  background-color: $base01;
}

.text {
  margin: 3px;
  font-size: 20;
  color: $base05;
  font-weight: 700;

  padding: 0px 5px;
  font-family: "Noto Sans";
  background-color: $base01;
  border-radius: 6px;
}

.textNoBg {
  font-size: 20;
  color: $base05;
  font-weight: 700;
  font-family: "Noto Sans";
}

slider {
  background-color: transparent;
  padding: 4px;
  border-radius: 16px;
}

trough {
  background-color: $base00;
  padding: 0px;
  border-radius: 20px;
  margin: 3px;
}

highlight {
  border-radius: 20px;
  background-color: $base05;
  padding: 6px;
  margin: 0px;
}

.container, .notif {
  background-color: $base01;
  padding: 4px;
  border-radius: 8px;
  border: 3px solid $base00;
}

.notif {
  margin: 0px 0px 6px 0px;
  transition: 150ms ease-in-out;
}

.notif:hover {
  background-color: $base05;
}

.workspaceThing {
  background-color: $base01;
  padding: 0px 10px;
  margin: 0px;
  color: $base05;
  font-size: 20;
  font-weight: 700;
  border-radius: 8px;
  transition: 100ms ease-in-out;
}

.workspaceBox {
  background-color: $base01; 
  border-radius: 4px; 
  margin: 0px 4px;
}

.on {
  margin: 4px;
  padding: 16px 37px;
  border-radius: 12px;
  color: $base05;
  background-color: $base07;
}

.off {
  margin: 4px;
  padding: 16px 37px;
  border-radius: 12px;
  color: $base05;
  background-color: $base02;
}

.app {
  padding: 0px;
  margin: 0px 3px;
  border-radius: 8px;
}

.app:hover {
  background-color: #ffffff;
  transition: 150ms ease-in-out;
}

.test {
  padding: 0px;
  margin: 4px;
  background-color: transparent;
  border-radius: 20px;
}

.dot {
  padding: 3px 3px;
  background-color: $base07;
  color: $base08;
  margin: 2px 2px -2px 2px;
  border-radius: 20px;
}

.notifHeaderText {
  font-family: "Noto Sans";
  margin: 3px 6px; 
  font-weight: 500; 
  font-size: 12;
}

.notifHeader {
  background-color: #161616;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: -6px -6px 4px -6px; 
}
